<div class="row">
    <div class="col-sm-12 col-md-6" id="todo-area">
        {{#each todoItems}} {{> todo_item }} {{/each}}
    </div>
    <div class="col-sm-12 col-md-4">
        <form id="new-item-form">
            <div class="form-group"><label>Task Name <input class="form-control" id="new-task-name"
                        type="text" /></label></div>
            <div class="form-group"><label>Task Description <textarea class="form-control"
                        id="new-task-description"></textarea></label>
            </div>
            <div class="form-group"> <input class="form-control btn btn-primary" type="submit" value="add new task" />
            </div>
        </form>
    </div>
</div>